.topicos {
    background: var(--azul-degrade);
    padding: 1em;
    text-align: center;
}

.topicos__titulo {
    text-transform: uppercase;
    color: var(--branco);
    font-weight: 300;
    margin: .5em 0 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    gap: .7em;
    justify-content: center;
}

.topicos__lista-item {
    background: var(--laranja);
    padding: 1em;
}

.topicos__lista-link {
    color: var(--branco);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__lista-link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }
}